.img-circle {
    max-height: 50px;
}

.btn-danger {
    background-color: #df382c !important;
    padding: 0.375rem 0.75rem !important;
}

.btn-danger:hover {
    background-color: #be3025 !important;
}

